@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-separator-color {
  background-image: linear-gradient(to right, rgb(247, 244, 255), rgb(32, 35, 58), rgb(32, 35, 58), rgb(247, 244, 255));
}

.swipe-left {
  animation: swipe 10s linear infinite backwards;
}

.swipe-right {
  animation: swipe-right 10s linear infinite backwards;
}

html::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

@keyframes swipe-right {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(100%);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.hide-nav nav,
.hide-nav footer {
  display: none !important;
}

#custom-pagination-container {
  .swiper-pagination-bullet {
    transition: opacity 0.3s ease-in-out;
    background-color: #fff;
  }
}

.demo-dotted-pattern {
  --d: 2.5px; 
  background: radial-gradient(circle at var(--d) var(--d),#FFDACA calc(var(--d) - 1px), #FFDACA calc(var(--d) - 1px), transparent var(--d)) 0 0 / 50px 50px;
}

.prose ol > li > span:first-child {
  display: none;
}

.prose ol {
  counter-reset: custom-ol-counter;
}
.prose ol > li {
  counter-increment: custom-ol-counter;
  position: relative;
}
.prose ol > li > span:last-child {
  display: block;
}
.prose ol > li:before {
  content: counter(custom-ol-counter) ".";
  position: absolute;
  left: -0.75rem;
}
