name: Build and Lint check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build and Lint Check
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

        # Corepack must be enabled first in order to use "cache: yarn" in setup-node
      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Build 
        run: yarn build
        env:
          NODE_ENV: production
          APP_PROTOCOL: https
          GENERATE_SOURCEMAP: true
