name: Build and Lint check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build and Lint Check
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
          node-version: 23
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build
        env:
          NODE_ENV: production
          APP_PROTOCOL: https
          APP_HOST: growthx.ai
          GENERATE_SOURCEMAP: true
          NEXT_PUBLIC_STRAPI_BASE_URL: ${{ secrets.NEXT_PUBLIC_STRAPI_BASE_URL }}
          NEXT_PUBLIC_STRAPI_DEV_API_TOKEN: ${{ secrets.NEXT_PUBLIC_STRAPI_DEV_API_TOKEN }}
          NEXT_PUBLIC_STRAPI_IS_LOCAL_ENV: false
